<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="IDangerous_Sms::sms" title="IDangerous SMS" sortOrder="100">
                    <resource id="IDangerous_Sms::send_sms" title="Send SMS" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>