<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="idangerous_sms_run" xsi:type="object">IDangerous\Sms\Console\Command\RunBulkSms</item>
                <item name="idangerous_sms_retry" xsi:type="object">IDangerous\Sms\Console\Command\RetryFailedSms</item>
            </argument>
        </arguments>
    </type>

    <!-- Logger configuration -->
    <virtualType name="IDangerousSmsLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">idangerous_sms</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">IDangerousSmsLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IDangerousSmsLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/idangerous_sms.log</argument>
        </arguments>
    </virtualType>

    <!-- SmsService configuration -->
    <type name="IDangerous\Sms\Model\SmsService">
        <arguments>
            <argument name="logger" xsi:type="object">IDangerousSmsLogger</argument>
        </arguments>
    </type>

    <type name="IDangerous\Sms\Cron\ProcessBulkSms">
        <arguments>
            <argument name="lockManager" xsi:type="object">Magento\Framework\Lock\Backend\Database</argument>
        </arguments>
    </type>
</config>
