<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="IDangerous_Sms::sms"
             title="SMS"
             translate="title"
             module="IDangerous_Sms"
             sortOrder="50"
             parent="Magento_Backend::marketing"
             resource="IDangerous_Sms::sms"/>

        <add id="IDangerous_Sms::dashboard"
             title="SMS Dashboard"
             translate="title"
             module="IDangerous_Sms"
             sortOrder="10"
             parent="IDangerous_Sms::sms"
             action="idangerous_sms/bulk/dashboard"
             resource="IDangerous_Sms::bulk_sms"/>

        <add id="IDangerous_Sms::send_sms"
             title="Send SMS"
             module="IDangerous_Sms"
             sortOrder="10"
             parent="IDangerous_Sms::sms"
             action="idangerous_sms/sms/send"
             resource="IDangerous_Sms::send_sms"/>

        <add id="IDangerous_Sms::bulk_sms"
             title="Send Bulk SMS"
             translate="title"
             module="IDangerous_Sms"
             sortOrder="20"
             parent="IDangerous_Sms::sms"
             action="idangerous_sms/bulk/index"
             resource="IDangerous_Sms::bulk_sms"/>
    </menu>
</config>
