<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="idangerous" translate="label" sortOrder="200">
            <label>IDangerous</label>
        </tab>
        <section id="idangerous_sms" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SMS Settings</label>
            <tab>idangerous</tab>
            <resource>IDangerous_Sms::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="msgheader" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message Header</label>
                    <comment>Your message header (3-11 characters)</comment>
                    <validate>validate-length minimum-length-3 maximum-length-11</validate>
                </field>
                <field id="username" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <comment>Netgsm username. If provided, overrides the Netgsm IYS module configuration.</comment>
                </field>
                <field id="password" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                    <comment>Netgsm password in plain text. If provided, overrides the Netgsm IYS module configuration.</comment>
                </field>
                <field id="brand_code" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Code</label>
                    <comment>Netgsm brand code. If provided, overrides the Netgsm IYS module configuration.</comment>
                </field>
                <field id="app_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Key</label>
                    <comment>Netgsm app key. If provided, overrides the Netgsm IYS module configuration.</comment>
                </field>
                <field id="debug_logging" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Debug Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>